<div class="skin-blue">
    <!-- Site wrapper -->
    <div class="wrapper">
      
        <header class="main-header">
            <a ui-sref="dashboard.main" class="logo"><b>Carcass-AdminLTE</b></a>
            
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="navbar-custom-menu">

                    <ul class="nav navbar-nav">

                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/images/dog.png" class="user-image" alt="User Image"/>
                                <span class="hidden-xs">{{user.name}}</span>
                            </a>

                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="/images/dog.png" class="img-circle" alt="User Image" />
                                    <p>
                                        {{user.description.brief}}
                                        <small>{{user.description.other}}</small>
                                    </p>
                                </li>

                                <!-- Menu Footer-->
                                <li class="user-footer">
                               
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat" ng-click="handleSignOutBtnClick()">Sign out</a>
                                    </div>
                                </li>

                            </ul>

                        </li>

                    </ul>

                </div>

            </nav>

        </header>

        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="/images/dog.png" class="img-circle" alt="User Image" />
                    </div>

                    <div class="pull-left info">
                        <p>{{user.name}}</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>

                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search..."/>
                        <span class="input-group-btn">
                            <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>

              <!-- /.search form -->

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">

                    <li class="header">MAIN NAVIGATION</li>

                    <li class="treeview">
                        <a href="#" class="dashboard-nav">
                            <i class="fa fa-dashboard"></i><span>Dashboard</span><i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a ui-sref="dashboard.charts"><i class="fa fa-circle-o"></i>  Charts</a></li>
                            <li><a ui-sref="dashboard.tables"><i class="fa fa-circle-o"></i> Tables</a></li>
                        </ul>
                    </li>

                </ul>

            </section>
            <!-- /.sidebar -->

        </aside>

        <!-- Right side column. Contains the navbar and content of the page -->
        <div class="content-wrapper">

            <div ui-view></div>
            
        </div><!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0
            </div>
            <strong>Copyright © 2014-2015 <a href="http://epam.com">Epam Systems</a>.</strong> All rights reserved.
        </footer>

    </div><!-- ./wrapper -->

</div>

<init-admin-lte-layout></init-admin-lte-layout>
